<form (ngSubmit)="onSubmit(quest)">
  <div class="form-group">
    <label for="countryName">Quest name</label>
    <input [(ngModel)]="quest.name" id="countryName" class="form-control" name="name">
  </div>
  <div class="form-group">
    <label for="countryUuid">Country</label>
    <select [(ngModel)]="quest.countryUuid" id="countryUuid" class="form-control" name="countryUuid">

    </select>
  </div>
  <div class="form-group">
    <label for="cityUuid">City</label>
    <input [(ngModel)]="quest.countryUuid" id="cityUuid" class="form-control" name="cityUuid">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <ckeditor id="description" [(ngModel)]="quest.description" [editor]="editor" data="quest.description" [ngModelOptions]="{standalone: true}"></ckeditor>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
